MONGO_URL=""
TAVILY_API_KEY=""
OPENAI_API_KEY=""
PHOENIX_API_KEY=""
OTEL_EXPORTER_OTLP_HEADERS=""
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
S3_BUCKET_NAME = ""
S3_REGION = "ap-southeast-1"
TEMPLATE_S3_KEY = ""
LOGO_DEV_TOKEN = ""